@import 'bourbon/bourbon';
// @import 'neat/neat';

$text-color:#000;
$brown-color:#b2a492;
$gray-color:#ededed;


@mixin border-radius($radius) {
 border-radius: $radius;
 -webkit-border-radius: $radius;
 -moz-border-radius: $radius;
 -ms-border-radius: $radius;
 -o-border-radius: $radius;
}

body {
 font: 14px Arial, sans-serif;
 color: $text-color;
}

h1, p {
  margin: 0;
}

input{
  border:0;
  outline: 0;
  background: rgba(255, 255, 255, 0.25);
}

h1{
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
section  h1{
  color: $brown-color;
  margin-bottom: 35px;
}

.btn {
  @include border-radius(0px);
}
header {
  @include size(100% 94px);
  background-color: #fff;
}

.navbar-default {
  background-color: transparent;
  border: none;
  min-height: 94px;
  margin-bottom: 0px;
  font: 11px Arial, sans-serif;
  text-transform: uppercase;
  .navbar-brand {
    @include size(93px 60px);
    background: url(../img/logo970.png) no-repeat 0px 0px;
    margin: 7px 20px 0 0;
    margin-left: 0 !important;
  }
  .navbar-nav > .active > a, 
  .navbar-nav > .active > a:hover, 
  .navbar-nav > .active > a:focus,
  .navbar-nav > li > a:hover, 
  .navbar-nav > li > a:focus {
    background-color: #b2a492;
    color: #fff;
  }

  .navbar-nav > li > a {
    padding: 37px 12px;
    color: $text-color;
    background-color: #fff;
  }
  .navbar-right{
    color:$text-color; 
    padding-top: 32px;
    padding-right: 0px;
    float: right !important;
    .lang-panel {
      border:1px solid #c5baad;
      @include size(64px 28px);
      padding: 7px 7px;
      span{
        display: inline-block
      }
      span a{
        color:$text-color;
        text-transform: none;
      }
      span:first-child:after{
        position: absolute;
        content:"|";
        margin: 0px 5px;
      }

      span.active a{
        color: #b2a492;
        text-decoration: underline;
      }

      span:nth-child(2) a{
        padding-left: 10px
      }
    }

    span.phone{
      line-height: 30px;
      padding-left: 24px;
      background: url(../img/phone.png) no-repeat 0px 7px;
      margin-left: 14px;
      height: 24px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .navbar-toggle{
    border: none;
    height: 36px;
    margin-top: 19px;
    margin-right: 19px;
    &:hover, &:focus{
      background-color: transparent;
    }
  }

  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 10px;
  }

  .navbar-toggle .icon-bar {
    display: block;
    background-color: #000;
    width: 52px;
        border-radius: 1px;
      }
      
    }

    .s_review{
      background-image: url(../img/s_review.png);
      background-repeat: repeat-x;
      min-height: 312px;
      min-height: 462px;
      background-position: center center;
      background-size: cover;
    }

    .carousel .item {
      min-height: 462px;

      .carousel-caption{
        top: 137px;
        .h1{
          line-height: 50px;
          font-size: 30px;
        }
      }
    }

    .carousel-control.left,
    .carousel-control.right {
      background-image: none;
      opacity: 1!important;
    }


    .carousel-control.left .chevron-left,
    .carousel-control.right .chevron-right{
      background: url(../img/arr-left.png) no-repeat;
      @include size(21px 31px);
      top: 50%;
      display: block;
      position: absolute;

    }

    .carousel-control.right .chevron-right{
      background: url(../img/arr-right.png) no-repeat;
      right: 0;
    }

    .carousel-indicators{
      bottom: 14px;
      li{
        @include size(12px);
        @include border-radius(0px);
        background-color: #fff;
        border: 1px solid #fff;
        margin: 1px !important;
        &.active {
          background-color: transparent;
        }
      }
    }

    .s_review .to-contact{
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
      position: fixed;
      right: 0;
      z-index: 10;
      top: 150px;
      background-color: $brown-color;
      display: inline-block;
      vertical-align: middle;
      @include size(38px 117px)
      a{
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        display: block;
        vertical-align: middle;
        line-height: 162px;
      } 
    }

    .about {
      background-color: $gray-color;
      padding: 60px 0;
    }

    .about {
      background-color: $gray-color;
      padding: 60px 0;
      line-height: 22px;
    }

    .about .leftside,
    .about .rightside{
      height: 283px;
      position: relative;
    }

    .about .leftside .img-block{
      background-image: url("../img/about_project.png");
      background-position: center center;
      background-repeat: no-repeat;
      @include size(100%);
      background-size: cover;
    }
    .about .rightside .description{
      height: auto;
      max-height: 80%;
      overflow: hidden;
    }
    .about .rightside .btn{
      position: absolute;
      bottom: 0;
      display: block;
      text-transform: none;
      @include size(102px 28px);
      font-size: 12px;
      color: $text-color;
      border: 1px solid $text-color;
    }

    .choose_flat {
      padding: 60px 0;
    }
    .slick-slider {
      padding: 0 32px;
      margin-bottom: 2px;
    }

    .slick-slider .slick-slide {
      outline: 0 !important;
    }
    .slider .slick-prev,  .slider .slick-next {
      top: 50%;
      width: 14px;
      height: 21px;
      background-size: contain;
      overflow: visible !important;
      z-index: 1;
    }


    .slider .slick-prev {
      left: 0px;
      background: url(../img/slick-arr-left.png) no-repeat center center;
    }

    .slider .slick-next {
      right: 0px;
      background: url(../img/slick-arr-right.png) no-repeat center center;
    }

    .slick-next:before, .slick-prev:before{
      content: "";
    }

    .slick-slide img{
      margin: 0 auto;
      outline: 0 !important;
    }

    .s_table{
      padding: 60px 0;
      min-height: 490px;
      background-color: $gray-color;
    }

    .s_table table{
      @include size(100% auto);
      color: $brown-color;
    }

    .s_table table th{
      font-size: 18px;
      height: 53px;
    }

    .s_table table th:nth-child(1),
    .s_table table th:nth-child(6){
     width: 222px;
     padding-left: 65px;
     padding-right: 65px;
   }
   .s_table table>tbody>tr td:nth-child(1),
   .s_table table>tbody>tr td.last{
    padding-left: 65px;
    padding-right: 65px;
  }

  .s_table table th:nth-child(2){
   padding-left: 27px;
   padding-right: 27px;
   width: 102px;
 }

 .s_table table th:nth-child(3){
   padding-left: 23px;
   padding-right: 23px;
   width: 93px;
 }

 .s_table table th:nth-child(4){
   padding-left: 48px;
   padding-right: 48px;
 }

 .s_table table td.fourth{
  padding-left: 48px;
  padding-right: 48px;
}

.s_table table td.third{
  padding-left: 23px;
  padding-right: 23px;
}

.s_table table th:nth-child(5){
 width: 102px;
 padding-left: 23px;
 padding-right: 23px;
}

.s_table table td.fifth{
  padding-left: 23px;
  padding-right: 23px;
}

.s_table table td[rowspan="7"]{
  padding-left: 27px;
  padding-right: 27px;
}

.s_table table td{
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
}


.s_form {
  background-size: cover;
  background-image: url("../img/form-container_bg.png");
  background-repeat: no-repeat;
  height: 561px;
  padding: 60px 0px;
}

.s_form .form-container{
  margin: 0 auto;
  width: 314px;
  color: #fff;
  font-size: 14px;
  font-style: italic;
}

.s_form .form-container h1{
 color:#fff;
 font-style: normal;
}


.s_form .form-container input{
 margin-bottom: 14px;
 color:#fff;

 height: 36px;
 width: 100%;
 padding-left: 18px;
 padding-right: 18px;
}

.s_form .form-container .btn{
  height: 43px;
  text-transform: uppercase;
  font-size: 16px;
  color: $brown-color;
  width: 100%;
  font-weight: 700;
  font-style: normal;
  margin-top: 5px;
}

.radio-block, .checkbox-block {
  display: table;
  padding-left: 17px;
  padding-right: 17px;
}

.radio-block > div, .checkbox-block > div{
  display: table-cell;
}

.radio-block > div:first-child, .checkbox-block > div:first-child{
  padding-right: 25px
}

.radio-item, .checkbox-item {
  position: relative;
  margin-bottom: 15px;
}

.radio-item input[type="radio"].radio-styled,
.checkbox-item input[type="checkbox"].checkbox-styled{
  display: none;
  box-sizing: border-box;
  padding: 0;
  margin: 2px 0 0;
  line-height: normal;
}
.radio-item input[type="radio"].radio-styled+label,
.checkbox-item input[type="checkbox"].checkbox-styled+label {
  padding-left: 22px;
  line-height: 15px;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
}

.radio-item input[type="radio"].radio-styled+label:after{
  background: url(../img/radio-sprite.png) no-repeat 0 0;
  content: " ";
  display: block;
  height: 14px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2px;
  width: 14px;
}

.radio-item input[type=radio].radio-styled:checked+label:after{
  background-position: 0 bottom;
}

.checkbox-item input[type="checkbox"].checkbox-styled+label:after{
  background: url(../img/checbox-sprite.png) no-repeat 0 0;
  content: " ";
  display: block;
  height: 14px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2px;
  width: 14px;
}

.checkbox-item input[type="checkbox"].checkbox-styled:checked+label:after{
  background-position: 0 bottom;
}

.for-select>div {
  position: relative;
}

footer{
  height: 316px;
  font-size: 14px;
  color:#fff;
}
.footer-top {
  height: 284px;
  background-color: $brown-color;
  padding-top: 60px;
  position: relative;
}

.footer-top h1{
  color: #fff;
}

.mini-social {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 38px);
}

.mini-social a,
.mobile-social a,{
  display: inline-block;
  margin: 0 5px;
}

.mini-social a.fb{
 background-image: url("../img/fb-desc.png");
 width: 8px;
 height: 13px;
}

.mini-social a.twit{
 background-image: url("../img/twitter-desc.png");
 width: 16px;
 height: 13px;
}

.mini-social a.in{
 background-image: url("../img/in-desc.png");
 width: 14px;
 height: 13px;
}

.footer-top .contacts h4{
  color: white;
  font-size: 11px;
  font-weight: 400; 
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding-left: 45px;
}

.footer-top .contacts h4:before{
  position: absolute;
  content:"";
  width: 35px;
  height: 2px;
  background-color: #FFF;
  left: 0;
  top:5px;
}


.footer-bottom {
  height: 32px;
  background-color: #726b63;
}

.copyright{
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.mobile-social {
  display: none;
  text-align: center;
  position: relative;
  top: 27px;
}

.mobile-social a.fb{
 background-image: url("../img/fb-mob.png");
 width: 11px;
 height: 19px;
}

.mobile-social a.twit{
 background-image: url("../img/twitter-mob.png");
 width: 22px;
 height: 19px;
}

.mobile-social a.in{
 background-image: url("../img/in-mob.png");
 width: 22px;
 height: 19px;
}